.chat-section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chat-groups-section {
  width: 40%;
  height: 100%;
  background-color: white;
}

.chat-messages-section {
  width: 60%;
  height: 100%;
  background-color: whitesmoke;
}