.switch-session-button:hover {
  cursor: pointer;
}

.switch-session-button {
  background-color: #d8d3d3;
  margin: 0px;
  width: 9em;
  text-align: center;
  height: 3em;
}

.switch-session-text {
}